:root {
  /**
   * Text sizing
   */
  --dc-text-sm: 1rem;
  --dc-text-md: 1.25rem;
  --dc-text-lg: 1.5rem;
  --dc-text-xl: 1.75rem;
  --dc-text-xxl: 2rem;
  /**
   * Font weight
   */
  --dc-font-weight-thin: 100;
  --dc-font-weight-medium: 500;
  --dc-font-weight-bold: 700;
  --dc-font-weight-black: 900;
  /**
   * App sizing
   */
  --dc-sizes-1: 0.25rem;
  --dc-sizes-2: 0.5rem;
  --dc-sizes-3: 0.75rem;
  --dc-sizes-4: 1rem;
  --dc-sizes-5: 1.25rem;
  --dc-sizes-6: 1.5rem;
  --dc-sizes-7: 1.75rem;
  --dc-sizes-8: 2rem;
  --dc-sizes-9: 2.25rem;
  --dc-sizes-10: 2.5rem;
  --dc-sizes-12: 3rem;
  --dc-sizes-14: 3.5rem;
  --dc-sizes-16: 4rem;
  --dc-sizes-20: 5rem;
  --dc-sizes-24: 6rem;
  --dc-sizes-28: 7rem;
  --dc-sizes-32: 8rem;
  --dc-sizes-36: 9rem;
  --dc-sizes-40: 10rem;
  --dc-sizes-44: 11rem;
  --dc-sizes-48: 12rem;
  --dc-sizes-52: 13rem;
  --dc-sizes-56: 14rem;
  --dc-sizes-60: 15rem;
  --dc-sizes-64: 16rem;
  --dc-sizes-72: 18rem;
  --dc-sizes-80: 20rem;
  --dc-sizes-96: 24rem;
  /**
   * Box shadow
   */
  --dc-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --dc-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --dc-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --dc-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --dc-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /**
   * Color
   */
  --dc-primary-color: #000000;
  --dc-secondary-color: #a0aec0;
  --dc-main-background-color: #ffffff;
  --dc-button-primary-text-color: #000000;
  --dc-button-secondary-text-color: #000000;
  --dc-button-primary-background-color: #ffffff;
  --dc-button-secondary-background-color: #ffffff;
  --dc-button-outline-color: #000000;
  --dc-button-outline-background-color: #ffffff;
  /**
   * Error/Warning/Info
   */
  --dc-error-color: #f5365c;
  --dc-warning-color: #fb6340;
  --dc-info-color: #11cdef;
  --dc-success-color: #2dce89;
}

.dc-sl-search-on-drag-loading-icon {
  position: relative;
  left: -9999px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  box-shadow: 9999px 0 0 -5px #000000;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dc-sl-search-on-drag-loading-icon:before, .dc-sl-search-on-drag-loading-icon:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
}
.dc-sl-search-on-drag-loading-icon:before {
  box-shadow: 9984px 0 0 -5px #000000;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}
.dc-sl-search-on-drag-loading-icon:after {
  box-shadow: 10014px 0 0 -5px #000000;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #000000;
  }
  30% {
    box-shadow: 9984px 0 0 2px #000000;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px #000000;
  }
}
@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #000000;
  }
  30% {
    box-shadow: 9999px 0 0 2px #000000;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px #000000;
  }
}
@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #000000;
  }
  30% {
    box-shadow: 10014px 0 0 2px #000000;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px #000000;
  }
}
.dc-sl-text-danger {
  color: #fb7586;
}

.dc-sl-text-success {
  color: #2dce89;
}

.dc-sl-container {
  padding: 20px 40px;
  margin-bottom: var(--dc-sizes-4);
  margin-top: var(--dc-sizes-4);
}
.dc-sl-container .dc-sl-hidden {
  display: none;
}
.dc-sl-container .dc-sl-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: var(--dc-sizes-4);
}
.dc-sl-container .dc-sl-header .dc-sl-title {
  font-size: 25px;
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-header .dc-sl-title {
    display: none;
  }
}
@media only screen and (min-width: calc(768px + 1px)) and (max-width: 1024px) {
  .dc-sl-container .dc-sl-header .dc-sl-title {
    display: none;
  }
}
.dc-sl-container .dc-sl-filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-filter-container {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
}
.dc-sl-container .dc-sl-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-tags {
    width: 100%;
  }
}
.dc-sl-container .dc-sl-tags .dc-sl-tag {
  margin-top: var(--dc-sizes-2);
  margin-right: var(--dc-sizes-2);
  display: inline-block;
  padding: var(--dc-sizes-4) var(--dc-sizes-6);
  border-radius: 30px;
  line-height: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: 1px solid #dddddd;
  background-color: #fff;
  transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  color: #222222;
}
.dc-sl-container .dc-sl-tags .dc-sl-tag:active, .dc-sl-container .dc-sl-tags .dc-sl-tag:hover, .dc-sl-container .dc-sl-tags .dc-sl-tag.dc-sl-tag-selected {
  color: black;
  border-color: black;
  border-width: 1px;
}
.dc-sl-container .dc-sl-tags .dc-sl-tag.dc-sl-tag-selected {
  border-width: 2px;
}
.dc-sl-container .dc-sl-tags .dc-sl-tag:active {
  transform: scale(0.925);
}
.dc-sl-container .dc-sl-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: var(--dc-sizes-4);
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-search-bar {
    width: 100%;
  }
}
.dc-sl-container .dc-sl-search-bar .dc-sl-search-input {
  padding: var(--dc-sizes-5);
  border-radius: var(--dc-sizes-8);
  box-shadow: none;
  outline: none;
  border: 1px solid;
  width: 100%;
}
.dc-sl-container .dc-sl-search-bar .dc-sl-search-button {
  padding: var(--dc-sizes-4);
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-left: var(--dc-sizes-4);
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.15s;
}
.dc-sl-container .dc-sl-search-bar .dc-sl-search-button:active {
  transform: scale(0.925);
}
.dc-sl-container .dc-sl-search-bar .dc-sl-search-button svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
.dc-sl-container .dc-sl-mobile-tabs {
  display: none;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.dc-sl-container .dc-sl-mobile-tabs .dc-sl-list-tab,
.dc-sl-container .dc-sl-mobile-tabs .dc-sl-map-tab {
  border: 1px solid #ccc;
  text-align: center;
  width: 50%;
}
.dc-sl-container .dc-sl-mobile-tabs .dc-sl-list-tab.dc-sl-tab-selected,
.dc-sl-container .dc-sl-mobile-tabs .dc-sl-map-tab.dc-sl-tab-selected {
  background-color: #615d5d;
  color: #fff;
  border-color: #615d5d;
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-mobile-tabs {
    display: flex;
  }
}
.dc-sl-container .dc-sl-mobile-tabs :first-child {
  border-right: none;
}
.dc-sl-container .dc-sl-main-content {
  margin: var(--dc-sizes-4) 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f7f7f7;
  height: 600px;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-main-content {
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: calc(768px + 1px)) and (max-width: 1024px) {
  .dc-sl-container .dc-sl-main-content {
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
}
.dc-sl-container .dc-sl-location-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: height 300ms, width 850ms cubic-bezier(0.25, 1, 0.5, 1);
}
@media only screen and (min-width: calc(768px + 1px)) and (max-width: 1024px) {
  .dc-sl-container .dc-sl-location-container {
    width: 100%;
    height: 0;
  }
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-location-container {
    width: 100%;
    height: 0;
  }
}
.dc-sl-container .dc-sl-location-result {
  margin: var(--dc-sizes-4) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-location-result {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    flex-direction: column-reverse;
  }
}
.dc-sl-container .dc-sl-location-toggle-list-map {
  display: none;
  cursor: pointer;
  position: relative;
  width: max-content;
  margin-left: auto;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: none;
  color: #ffffff;
  transition-property: transform;
  transition-duration: 0.15s;
  font-size: 16px;
}
.dc-sl-container .dc-sl-location-toggle-list-map:active {
  transform: scale(0.9);
}
.dc-sl-container .dc-sl-location-toggle-list-map span {
  margin-right: 10px;
}
.dc-sl-container .dc-sl-location-toggle-list-map svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
@media only screen and (min-width: calc(768px + 1px)) and (max-width: 1024px) {
  .dc-sl-container .dc-sl-location-toggle-list-map {
    display: flex;
  }
}
.dc-sl-container .dc-sl-location-toggle-list-map #dc-sl-location-show-map-icon {
  display: none;
}
.dc-sl-container .dc-sl-locations {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.dc-sl-container .dc-sl-location {
  display: flex;
  justify-content: start;
  padding: var(--dc-sizes-6) 0 var(--dc-sizes-6) var(--dc-sizes-6);
  border-top: 1px solid #cccccc6b;
  margin-right: var(--dc-sizes-2);
}
.dc-sl-container .dc-sl-location:first-child {
  border-top: none;
}
.dc-sl-container .dc-sl-location.dc-sl-location-selected {
  border-left: 3px solid #000;
  background-color: #fbfbfbc4;
  transition: all 300ms;
}
.dc-sl-container .dc-sl-location-images {
  position: relative;
  width: 30%;
  height: max-content;
}
.dc-sl-container .dc-sl-location-image {
  display: flex;
}
.dc-sl-container .dc-sl-location-image img, .dc-sl-container .dc-sl-location-image svg {
  border-radius: 12px;
  max-width: 100%;
  aspect-ratio: 1/0.7;
  object-fit: cover;
  width: 100%;
}
.dc-sl-container .dc-sl-location-image-next,
.dc-sl-container .dc-sl-location-image-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  user-select: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
.dc-sl-container .dc-sl-location-image-prev {
  left: 0;
  margin-left: 10px;
}
.dc-sl-container .dc-sl-location-image-next {
  right: 0;
  margin-right: 10px;
}
.dc-sl-container .dc-sl-location-info {
  word-break: break-word;
  width: calc(70% - 20px);
  margin-left: 20px;
}
.dc-sl-container .dc-sl-location-info .dc-sl-location-name {
  font-weight: bold;
}
.dc-sl-container .dc-sl-location-info .dc-sl-location-schedule {
  margin-top: 10px;
}
.dc-sl-container .dc-sl-location-info a {
  text-decoration: none;
}
.dc-sl-container .dc-sl-location-list-location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.dc-sl-container .dc-sl-map-container {
  width: 50%;
  background-color: #ffffff;
  transition: height 200ms, width 850ms cubic-bezier(0.25, 1, 0.5, 1);
}
@media only screen and (min-width: calc(768px + 1px)) and (max-width: 1024px) {
  .dc-sl-container .dc-sl-map-container {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-map-container {
    width: 100%;
    height: 100%;
  }
}
.dc-sl-container .dc-sl-control-collapse {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  margin-left: 24px;
  margin-top: 24px;
  z-index: 1;
}
@media only screen and (min-width: calc(768px + 1px)) and (max-width: 1024px) {
  .dc-sl-container .dc-sl-control-collapse {
    display: none;
  }
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-control-collapse {
    display: none;
  }
}
.dc-sl-container .dc-sl-control-collapse .dc-sl-control-collapse-button {
  align-items: center;
  border-radius: 8px;
  box-shadow: #0000001f 0 6px 16px;
  cursor: pointer;
  display: inline-flex;
  border: 2px solid transparent;
  padding: 10px;
  outline: none;
  color: #222222;
  background-color: #fff;
}
.dc-sl-container .dc-sl-control-collapse .dc-sl-control-collapse-full svg {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke-width: 4;
  stroke: currentColor;
}
.dc-sl-container .dc-sl-control-collapse .dc-sl-control-collapse-half {
  display: none;
  font-size: 14px;
  font-weight: 600;
}
.dc-sl-container .dc-sl-control-collapse .dc-sl-control-collapse-half svg {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke-width: 4;
  stroke: currentColor;
  transform: rotate(180deg);
  margin-right: 10px;
}
.dc-sl-container .dc-sl-search-on-drag-container {
  position: absolute;
  top: 24px;
  white-space: nowrap;
  margin-top: 24px;
  z-index: 1;
  display: none;
}
@media (max-width: 768px) {
  .dc-sl-container .dc-sl-search-on-drag-container {
    left: calc(50% - 35px) !important;
  }
}
.dc-sl-container .dc-sl-search-on-drag-container .dc-sl-search-on-drag-loading-container {
  align-items: center;
  border-radius: 8px;
  box-shadow: #0000001f 0 6px 16px;
  cursor: pointer;
  display: inline-flex;
  border: 2px solid transparent;
  padding: 10px;
  outline: none;
  color: #222222;
  background-color: #fff;
  transition: all 100ms;
  padding: 10px 30px;
  min-height: 35px;
}
.dc-sl-container .dc-sl-search-on-drag-container .dc-sl-search-on-drag-loading-container .dc-sl-search-on-drag-loading-icon {
  display: block !important;
}
.dc-sl-container .dc-sl-map-container .dc-sl-location-detail-image-map-container {
  max-width: 200px;
  margin: 10px auto;
}
.dc-sl-container .dc-sl-map-container .dc-sl-location-detail-image-map-container img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.dc-sl-container .dc-sl-map-container .dc-sl-location-name {
  font-weight: bold;
}
.dc-sl-container .dc-sl-map-container .gm-style-iw-c[role=dialog] {
  padding: 0;
}
.dc-sl-container .dc-sl-map-container .gm-style-iw-c[role=dialog] > .gm-style-iw-d {
  padding: 0;
  overflow: auto !important;
}
.dc-sl-container .dc-sl-map-container .gm-style-iw-c[role=dialog] > .gm-ui-hover-effect[aria-label=Close] {
  top: 5px !important;
  right: 5px !important;
  width: 30px !important;
  height: 30px !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  opacity: 0.9 !important;
}
.dc-sl-container .dc-sl-map-container .dc-sl-location-map-info-container {
  padding: 10px;
}
.dc-sl-container .dc-sl-map-container .dc-sl-location-detail-image-map-container {
  display: block !important;
  width: 100%;
  height: 180px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.dc-sl-container .dc-sl-map-container .dc-sl-location-map-info-container > * {
  margin-top: 5px;
}
.dc-sl-container .dc-sl-map-container .dc-sl-location-map-info-container a {
  text-decoration: none;
}
.dc-sl-container .dc-sl-map-container .dc-sl-direction {
  margin-top: 5px;
  display: block;
  font-size: 16px;
}
.dc-sl-container .dc-sl-map-container .dc-sl-booking-button {
  width: 100%;
  padding: 10px 20px;
  margin: 10px auto;
  border-top: 1px solid #ccc;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  cursor: pointer;
  background-color: #84c6ff;
}
.dc-sl-container .dc-sl-map-container .dc-sl-booking-button:disabled {
  cursor: not-allowed;
  background-color: #efefef;
}

/*# sourceMappingURL=dc.sl.css.map */
